@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Signika Negative', sans-serif;
  background-image: url('/assets/bg.png');
  @apply text-color3 p-4 pt-2 bg-repeat;
}

@screen md {
  body {
    @apply pt-4;
  }
}

h1 a, h1 a.active {
  @apply text-color3;
}

h1 a:hover, h1 a:focus {
  @apply text-color3;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

h3 {
  @apply text-2xl tracking-wide font-bold;
}

a {
  @apply text-color4 tracking-wide;
}

a:hover, a:focus {
  @apply text-color2;
}

a.active, a:active {
  @apply text-color2;
}

.steal {
  @apply bg-green-600 text-gray-100 btn rounded-full w-20 h-20 cursor-pointer tracking-wider font-bold;
}

.steal:hover {
  @apply bg-green-500;
}

.steal:focus {
  @apply shadow-outline outline-none;
}

.steal:active {
  @apply bg-green-700;
}

.btn {
  @apply shadow bg-color5 text-color3 text-xs font-bold py-2 px-4 rounded cursor-pointer tracking-wider;
}

.btn:hover {
  @apply bg-color1;
}

.btn:focus {
  @apply shadow-outline outline-none;
}

.btn:active {
  @apply bg-color2;
}

.del {
  @apply bg-red-400;
}

.del:hover {
  @apply bg-red-300;
}

.del:active {
  @apply bg-red-500;
}

input, textarea {
  @apply text-color3;
}

.input input.string, .input input.password, .input textarea {
  @apply bg-gray-300 border border-gray-600 w-full py-2 px-4 rounded;
}

.input input.string:focus, .input input.password:focus, .input textarea:focus {
  @apply outline-none bg-gray-200;
}

.notice {
  @apply bg-green-400 text-gray-700 rounded py-2 px-4 mb-4;
}

.alert {
  @apply bg-red-400 text-gray-700 rounded py-2 px-4 mb-4;
}

.good_news {
  @apply bg-green-400 text-gray-700 rounded py-2 px-4 mb-4;
}

.bad_news {
  @apply bg-red-400 text-gray-700 rounded py-2 px-4 mb-4;
}

input:checked + svg {
  	display: block;
  }

.error_notification {
  @apply mb-4;
}

.hint, .error {
  @apply block text-xs mt-1;
}

.error {
  @apply text-red-500;
}

table {
  @apply table-auto bg-color7 border-2 border-white text-xs;
}

@screen md {
  table {
    @apply text-base;
  }
}

th {
  @apply px-2 py-2;
}

td {
  @apply border px-2 py-2;
}

@screen md {
  th, td {
    @apply px-4;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
